$color-white: #ffffff;
$color-black: #000000;
$color-bg: rgba(213,207,191,255);
$color-yellow: rgb(255, 202, 77);
$color-gray: rgb(241, 241, 241);
$color-f-b: rgb(57, 52, 52);
$color-a: rgb(103, 126, 201);